body {
  width: 650px;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3 {
  font-family: 'Rubik', 'Comfortaa', cursive;
  font-weight: bold;
}

.img-raw img {
  border: 2px solid #6C7479	;
  padding: 4px;
  margin-left: 30px;
  margin-bottom: 1px;
  margin-top: 10px;
}

.wireframes img {
  border: 2px solid #6C7479	;
  padding: 4px;
  margin-left: 30px;
  margin-bottom: 1px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 45px;
  /*margin-bottom: 50px;*/
}

h2 {
  margin-top: 30px;
  font-size: 25px;
}

h3 {
  margin-top: 25px;
  margin-left: 15px;
  font-size: 20px;
}

h4 {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #424242;
}

h6 {
  font-family: Comfortaa;
  text-align: center;
  margin-top: 12px;
  font-size: 12px;
  color: rgba(0,0,0,0.4);
}

p {
  font-size: 16px;
  font-weight: light;
  line-height: 23px;
  color: #424242;
}

ul {
  list-style-type: disc;
  font-size: 16px;
  line-height: 28px;
  margin-left: 35px;
  margin-bottom: 30px;
  color: #424242;
}

h2 + p, h2 + ul {
  margin-top: 10px;
}

h3 + p, h3 + ul, {
  margin-top: 10px;
}

h3 + ul{
  margin-left: 50px;
  margin-top: 10px;
}

h6 + h2 {
  margin-top: 60px;
}

p + ul {
  margin-top: 7px;
}

li + ul {
  list-style-type: circle;
  font-size: 14px;
  line-height: 20px;
  margin-left: 45px;
  margin-bottom: 5px;
  color: #424242;
}

p + p {
  margin-top: 5px;
}

li {
  margin-bottom: 5px;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

a:visited {
  color: #DDDDDD;
}

<style>
  .img-raw img {
      width: 80px;
      -webkit-transition: width 0.85s;
      -moz-transition: width 0.85s;
      -o-transition: width 0.85s;
      transition: width 0.85s;
  }

  .img-raw img:hover {
      width: 250px;
  }
</style>
